div {
    border:4px dotted rgb(106, 106, 225);
    width:fit-content;
    font-size: 24px;

    /* padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px; */

    /* shorthand */
    /* um valor, vai ser o mesmo valor para todos os lados */
    padding: 20px;
    /* 2 valores é primeiro top e bottom/ segundo right e left */
    padding: 30px 50px;
    /* 3 valoresa 1 left/2 top e bottom / 3 right */
    padding: 20px 50px 5px;
    /*  3 valores 1 top 2 right e left 3 bottom */
    padding: 30px 50px 70px 90px;
    /* 4 valores 1 top 2 right 3 bottom 4 left */
    padding: 30px 50px 70px 90px


}

h1{
    border: 1px solid rgb(109, 44, 44);
    margin-bottom: 20px;
}

.algum{
    margin-bottom: 100px;
}


.ultimo{
    margin-top: 50px ;
}

.outro{
    margin-inline: auto;
}